<div class = "bodymenu">
    <%= link_to "Beauty-Squad", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-center">
        <li><%= link_to "今すぐ予約", booknow_path %></li>
        <li><%= link_to "スタイルブック", stylebook_path %></li>
        <li><%= link_to "How it works", howitworks_path %></li>
        <li><%= link_to "私たちを選ぶ理由", whyus_path %></li>
        <li><%= link_to "Blog", '#' %></li>
      </ul>
    </nav>
 </div>